* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'Arial', sans-serif;
    color: #f6f6f6;
    line-height: 1.6;
    overflow-x: hidden;
}

.navigation {
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    width: 50px;
}

.nav-links {
    font-size: 15px;
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    padding: 14px 16px;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #9b37ff;
}

.nav-links a.active {
    border-bottom: 2px solid #9b37ff
}

.container {
    display: flex;
    margin-top: 80px;
    margin-left: 200px;
    background-color: FFFFFF;
}

.content h1 {
    margin-left: 10px;
    font-size: 50px;
    color: #272727;
}

.content h2 {
    margin-left: 10px;
    font-size: 80px;
    color: #272727;
}

.content p {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
 
.button1 {
    border-radius: 80px;
    border-color:#935ccb;
    background-color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
}

.circle {
    display: flex;
    background-color: #9C8CEB;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin-left: 100px;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.circle img {
    position: absolute;
    width: 65%;     
    height: auto;
    bottom: -60px;
    margin-left: 60px;
}